<!DOCTYPE html>
<html lang="hb" dir="rtl">
<head>
  <meta charset="windows-1255">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <mat-toolbar color="primary">
    <button mat-flat-button [matMenuTriggerFor]="menus" color="primary" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-icon>local_fire_department</mat-icon>
    <span>גרין-פויינט/גננות</span>
  </mat-toolbar>
  <br>

  
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>רשימות עבודה</mat-card-title>
      <mat-card-subtitle>דפי עבודה</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        רשימת דפי עבודות ללקוחות
        לפי בקשת ויטלי
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>עב' פתוחות</button>
      <button mat-button>כל העבודות</button>
    </mat-card-actions>
  </mat-card>

  
  <mat-menu #menus="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>פתיחת משימה חדשה</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>התחברות</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>יציאה</span>
    </button>
  </mat-menu>

</body>
</html>